<div class="mx-auto mt-6 flex w-full flex-col items-center rounded-lg bg-[#2F2821] p-4">
    <div class="flex w-full items-center justify-between">
      <div class="h-10 w-10 rounded-full bg-[#B89120]"></div>
      <div class="flex flex-col items-center">
        <p class="text-white">Username</p>
        <p class="text-gray-400">DD/MM/YYYY</p>
      </div>
    </div>
    <div class="mt-4 text-center text-white">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>