<div class="relative break-inside-avoid">
    <div class="absolute top-2 z-10 left-1/2 -translate-x-1/2 flex items-center -space-x-2">
    </div>
    <div class="relative top-5 bg-indigo-100 shadow-md rounded-lg mb-6 break-inside-avoid flex flex-col border-2 border-indigo-300">
        <div class="bg-indigo-200 text-gray-800 p-4 rounded-t-lg border-b-2 border-indigo-300">
            <h3 class="font-bold text-xl mb-2">{{ restaurant.name }}</h3>
            <p class="text-gray-600">{{ restaurant.island }}</p>
            <p class="text-gray-600">{{ restaurant.cuisine }}</p>
            <p class="text-gray-600">{{ restaurant.contact }}</p>
            <a href="{{ restaurant.gmaps }}" class="text-blue-500">Location</a>
        </div>
    </div>
</div>