{% extends 'base.html' %} 
{% load static %}
{% block meta %}
<title>Register</title>
{% endblock meta %} 
{% block content %}

<div class="flex flex-col items-center justify-center min-h-screen mr-80">
  <!-- Welcome Text -->
  <h1 class="welcome-text mb-4 text-4xl font-extrabold leading-none tracking-tight text-[#B89120] md:text-5xl lg:text-6xl dark:text-white text-center" 
      style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em;">
    <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span><span>!</span>
  </h1>
  
  <!-- Authentic Foods Text -->
  <p class="authentic-text mb-6 text-lg font-normal text-[#ECE1B4] lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center"
  style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em;">
    <span>F</span><span>i</span><span>n</span><span>d</span> <span>a</span><span>u</span><span>t</span><span>h</span><span>e</span><span>n</span><span>t</span><span>i</span><span>c</span> 
    <span>f</span><span>o</span><span>o</span><span>d</span><span>s</span> <span>i</span><span>n</span> <span>T</span><span>h</span><span>e</span> 
    <span>T</span><span>h</span><span>o</span><span>u</span><span>s</span><span>a</span><span>n</span><span>d</span> <span>I</span><span>s</span><span>l</span><span>a</span><span>n</span><span>d</span><span>s</span><span>.</span>
  </p>
  
<img src="/static/images/left_corner_circle.png" class="w-96 fixed left-0 bottom-0">
<img src="/static/images/right_corner_circles.png" class="w-96 fixed top-16 right-80">

  <!-- Start Exploring Button -->
  <a href="{% url 'main:show_main' %}" class="explore-button inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-[#ECE1B4] bg-[#AB791B] rounded-lg hover:bg-[#625443] focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
  style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em;">
    <!-- Typing effect for button text with spaces added -->
    <span>S</span><span>t</span><span>a</span><span>r</span><span>t</span>
    <span>&nbsp;</span> <!-- Add space here -->
    <span>E</span><span>x</span><span>p</span><span>l</span><span>o</span><span>r</span><span>i</span><span>n</span><span>g</span>
    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
  </a>

<aside id="default-sidebar" class="fixed top-0 right-0 z-40 w-96 h-screen transition-transform sm:translate-x-0" aria-label="Sidebar">
  <img src="/static/images/ATF.png" class="w-64 fixed right-14 top-44"/>
  <div class="h-full px-3 py-4 overflow-y-auto" style="background-color: #2C251E;">
    <form method="POST" action="{% url 'main:register' %}" class="pt-96 pl-16 pr-16">
      {% csrf_token %}
      {% if messages %}
        <div class="mb-4">
          {% for message in messages %}
            <div class="text-red-500">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="mb-4">
        <input type="text" name="username" id="username" placeholder="Username" 
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-[#fdfce2] sm:text-sm" 
        style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em; margin-right: 16px;" required>
      </div>
      <div class="mb-4">
        <input type="password" name="password1" id="password1" placeholder="Password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-[#fdfce2] sm:text-sm" 
        style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em; margin-right: 16px;" required>
      </div>
      <div class="mb-4">
        <input type="password" name="password2" id="password2" placeholder="Password Confirmation" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-[#fdfce2] sm:text-sm" 
        style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em; margin-right: 16px;" required>
      </div>
      <div class="mb-4">
      <select id="group" name="group" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-[#fdfce2] sm:text-sm" 
      style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em; margin-right: 16px;">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
      </select>
      </div>
      <div class="mb-4">
        <button type="submit" class="w-full px-3 py-2 text-white bg-[#b88d20] rounded-md hover:bg-[#976A15] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 " 
        style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em; margin-right: 16px;">Register</button>
      </div>
      <div class="mb-4">
        <p class="text-[#ECE1B4] text-sm" 
        style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em;">Have an account? <a href="{% url 'main:login' %}" class="text-[#ECE1B4] text-sm underline hover:text-[#FDFCE2]" style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em;" >Login</a></p>
      </div>
    </form>
  </div>
</aside>


<nav class="bg-[#1c1711] shadow-lg fixed top-0 left-0 z-40 w-screen h-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <a href="{% url 'main:show_main' %}">
          <img src="{% static 'images/ATF.png' %}" class="w-24 h-11 mb-1"/>
        </a>
          <div class="hidden md:flex items-center">
                <a href="{% url 'main:show_main' %}" class="text-center text-[#a06527] py-2 px-4 rounded transition " style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em; margin-right: 16px;">
                    Explore
                </a>
                <a href="{% url 'main:login' %}" class="text-center bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded transition duration-300" style="font-family: 'Italiana', serif; font-weight: 800; letter-spacing: 0.1em; word-spacing: 0.2em;">
                    Login
                </a>
          </div>
          <div class="md:hidden flex items-center">
              <button class="mobile-menu-button">
                  <svg class="w-6 h-6 text-[#a06527]" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                      <path d="M4 6h16M4 12h16M4 18h16"></path>
                  </svg>
              </button>
          </div>
      </div>
  </div>
</nav>












<!-- <div class="login">
  <h1>Register</h1>

  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Register" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div> -->

{% endblock content %}
