{% extends 'base.html' %} 
{% load static %}
{% block content %} 
{% include 'navbar.html' %}

{% if messages %}
<div class="fixed top-5 right-5 w-1/3 z-50">
    {% for message in messages %}
    <div class="flex items-center justify-between p-4 mb-4 text-sm rounded-lg 
                {% if message.tags == 'success' %} bg-green-500 text-white 
                {% elif message.tags == 'info' %} bg-blue-500 text-white 
                {% elif message.tags == 'error' %} bg-red-500 text-white 
                {% else %} bg-gray-500 text-white {% endif %}">
        <span>{{ message }}</span>
        <button type="button" onclick="this.parentElement.style.display='none'" class="ml-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="bg-[#1c1711] static flex min-h-screen bg-cover bg-fixed bg-no-repeat font-[Italiana] text-[#f8f0d3]">
  <div class="relative w-[45%]">
    <img src="{% static 'images/big_food.jpg' %}" alt="Restaurant Image" class="h-full w-full object-cover" />
  </div>

  <div class="split right flex flex-col p-4 w-[55%] mx-auto items-center">
    <div class="absolute top-12 left-2 flex items-center"></div>
    
    <div class="mt-[50px] flex justify-center w-[75%]">
      <h1 class="text-center text-3xl font-bold">{{ restaurant.name }}</h1>
    </div>

    <div class="my-[20px] w-[75%]">
      <div class="mx-auto h-[1px] w-full bg-[#2F2821]"></div>
      <div class="mx-auto mt-[9%] w-full rounded-lg bg-[#2F2821] p-6 flex flex-col items-center space-y-4">
        <div class="flex space-x-2">
          <a href="{% url 'favorites:add_to_favorites' restaurant_id=restaurant.id %}" class="w-10 h-10 p-2 bg-amber-300 rounded-full flex items-center justify-center hover:bg-amber-400 focus:outline-none focus:ring-2 focus:ring-amber-500" onclick="event.preventDefault(); addToFavorites('{{ restaurant.id }}');">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
            </svg>
          </a>

          <a href="{% url 'wishlist:add_to_wishlist' restaurant_id=restaurant.id %}" class="w-10 h-10 p-2 bg-amber-300 rounded-full flex items-center justify-center hover:bg-amber-400 focus:outline-none focus:ring-2 focus:ring-amber-500">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z"/>
            </svg>
          </a>
        </div>

        <p class="text-center text-amber-500 text-lg font-semibold">Categories</p>
        
        <div class="w-full grid-cols-3 justify-around text-center">
          <p class="text-white">{{ restaurant.cuisine }}</p>
          <p class="text-white">{{ restaurant.island }}</p>
          <p class="text-white">{{ restaurant.contacts }}</p>
        </div>

        <a href="{{ restaurant.gmaps }}" class="text-amber-500 block text-center mt-2">View on Google Maps</a>
      </div>

      <div class="mx-auto mt-8 h-[1px] w-full bg-[#2F2821]"></div>

      <div class="mt-[30px]">
        <h1 class="text-center text-3xl font-bold">Reviews</h1>
      </div>

      <h2 class="text-2xl font-semibold text-center text-[#f8f0d3] mb-6">{{ restaurant.name }}</h2>
      <div class="w-[75%] mx-auto rounded-lg bg-[#2F2821] p-6 flex flex-col items-center space-y-4">
          <form action="{% url 'main:create_restaurant_review' id=restaurant.id %}" method="POST" class="w-full flex flex-col items-center space-y-4">
              {% csrf_token %}
              <div class="w-full text-white space-y-4">
                  <div class="flex flex-col">
                      <label for="id_rating" class="mb-1 font-semibold text-amber-500">Rating:</label>
                      <div class="border border-amber-300 rounded-lg p-2">
                          <select name="rating" class="w-full p-2 bg-[#1c1711] text-white focus:outline-none focus:ring-2 focus:ring-amber-500 rounded-md">
                              <option value="1">★ 1</option>
                              <option value="2">★★ 2</option>
                              <option value="3">★★★ 3</option>
                              <option value="4">★★★★ 4</option>
                              <option value="5">★★★★★ 5</option>
                          </select>
                      </div>
                  </div>
                  <div class="flex flex-col mt-4">
                      <label for="id_description" class="mb-1 font-semibold text-amber-500">Description:</label>
                      <textarea name="description" rows="4" class="w-full p-2 bg-[#1c1711] border border-amber-300 text-white focus:outline-none focus:ring-2 focus:ring-amber-500 rounded-lg"></textarea>
                  </div>
              </div>
              <button type="submit" class="mt-4 w-full max-w-xs bg-amber-500 text-white py-2 px-4 rounded-lg hover:bg-amber-600 focus:outline-none focus:ring-4 focus:ring-amber-300">
                  Submit Review
              </button>
          </form>
      </div>

      {% if reviews %}
      <div class="w-[75%] mx-auto mt-8">
        <ul class="space-y-6">
          {% for review in reviews %}
          <li class="flex items-center bg-[#2F2821] border border-[#16120f] rounded-lg shadow-lg p-5 transition-transform transform hover:scale-105">
            <div class="w-full px-5">
              <h3 class="text-xl font-bold tracking-tight text-[#ECE3C3] mb-2">
                Rating: 
                {% for i in "12345" %}
                  {% if i|add:"0" <= review.rating %}
                    <span class="text-amber-500">★</span>
                  {% else %}
                    <span class="text-gray-400">★</span>
                  {% endif %}
                {% endfor %}
              </h3>
              <p class="italic font-light text-[#ECE3C3]">Description: {{ review.description }}</p>
              <div class="text-sm font-light text-[#ECE3C3] mt-2">
                <p>By: <strong>{{ review.user }}</strong></p>
                <p>On: <strong>{{ review.created_at }}</strong></p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      <div class="w-[75%] mx-auto mt-8">
        <p class="text-white">No reviews yet. Be the first to leave a review!</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function addToFavorites(restaurantId) {
      fetch("{% url 'favorites:add_to_favorites' restaurant_id='0' %}".replace('0', restaurantId), {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify({
              'restaurant_id': restaurantId
          }),
      })
      .then(response => response.json())
      .then(data => {

          // Message div section
          const messageDiv = document.createElement('div');
          messageDiv.className = "fixed top-5 right-5 w-1/3 z-50 p-4 rounded-lg text-white";

          if (data.success) {
              messageDiv.classList.add('bg-green-500');
              messageDiv.innerText = data.message;
          } else {
              messageDiv.classList.add('bg-blue-500');
              messageDiv.innerText = data.message;
          }

          document.body.appendChild(messageDiv);

          setTimeout(() => {
              messageDiv.remove();
          }, 3000);
      })
      .catch(error => {
          console.error('Error:', error);
      });
  }
</script>

  

{% endblock %}
